<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="page5Module">
<head>
    <title></title>
</head>
<body ng-controller="notesCollectionController as ctrl">

    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>note</td>
            </tr>
        </thead>

        <tbody ng-repeat="note in ctrl.notes">
            <tr>
                <td>{{note.id}}</td>
                <td>{{note.text}}</td>
            </tr>
        </tbody>

    </table>

    <button ng-click="ctrl.addNotes()">
        Add notes
    </button>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>

    <script type="text/javascript">
        angular.module("page5Module", [])
               .controller("notesCollectionController", [function () {
                   var self = this;

                   self.notes = [
                       { id: 1, text: "note 1" },
                       { id: 2, text: "note 2" },
                       { id: 3, text: "note 3" },
                       { id: 4, text: "note 4" },
                   ];

                   self.addNotes = function () {
                       self.notes.push({ id: 5, text: "note 5" });
                   };
               }]);

    </script>
</body>
</html>
